.sidebar-flyout-toggle,
.sidebar-dropdown-item,
.sidebar-flyout-item {
  transition: all 0.2s;
}

.sidebar-flyout-toggle.focused:not(.active),
.sidebar-dropdown-item.focused:not(.active),
.sidebar-flyout-item.focused:not(.active) {
  transform: scale(1.05);
  box-shadow: 0 0 8px 2px #ec008c88;
  z-index: 2;
}

.sidebar-flyout-toggle.active,
.sidebar-dropdown-item.active,
.sidebar-flyout-item.active {
  color: #ec008c !important;
  background: #1f1f1f !important;
  border-left: 4px solid #ec008c;
  font-weight: bold;
}

.sidebar-flyout-toggle.focused.active,
.sidebar-dropdown-item.focused.active,
.sidebar-flyout-item.focused.active {
  transform: scale(1.08);
  box-shadow: 0 0 12px 4px #ec008c;
  color: #ec008c !important;
  background: #232332 !important;
  border-left: 4px solid #ec008c;
  font-weight: bold;
  z-index: 3;
} 